# MySQL
MYSQL_ROOT_PASSWORD=senhasegura
MYSQL_DATABASE=shop
DB_PORT=3306
DATABASE_URL="mysql://root:senhasegura@127.0.0.1:3306/shop"

# phpMySdmin
PHPMYADMIN_PORT=8080

# Backend
BACKEND_PORT=4000

# Frontend
FRONTEND_PORT=3001