* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: url('nebulosa.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 50px;
}

section {
  border: 5px solid rgb(225, 162, 75);
  border-radius: 16px;
  padding: 20px;
  background-color: rgba(0, 0, 0, .4);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 40%;
  color: #fff;
}

h1 {
  margin: 50px;
  color: #fff;
}

p {
  padding: 20px;
  color: #fff;
}
