$primary: green;
$space: 4px;

h1 {
  color: $primary;
  margin-top: $space * 2;
}

a {
    color: black;
}

@mixin borda($wth) {
  border-top: dotted $wth black;
  border-bottom: solid $wth black;
}

#menu a {
  color: #111;
  @include borda(2px);
}

.post a {
  @include borda(1px);
}
